.table tbody tr td{
    vertical-align: middle;
    text-align: center
}
.table th{
    text-align: center
}
.operate-btns{
   
    vertical-align: middle;
}
.operate-btns button:last-of-type{
    margin-left: 10px;
}
.m-f{
    max-width: 100px;
}